body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
  }
  @media only screen and (max-width: 600px) 
  {
    .header-left {
        flex-direction: column;
        align-items: center;
    }
  }
  header {
    color: #fff;
    text-align: center;
    background-color: #333;
    line-height: 1;
    padding: 10px;
  }

  .header-left {
    display: flex;
    align-items: center;
}

.header-left a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.header-left a i {
    margin-right: 5px;
}

  
  section {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  section p {
    line-height: 1.6;
    color: #666;
  }

  
  section h1,
  section h2,
  section h3 {
    color: #333;
  }

  nav {
    
    padding: 10px;
    text-align:end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  #about-me {
    height:fit-content;
    background-color: #f9f9f9;
    padding: 20px;
  }

 

  .profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    float: right;
  }
 
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about-text {
    display: inline;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .about-text p {
    margin-bottom: 20px;
    word-wrap: normal;
}
  

#skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.skill-card {
  text-align: center;
  margin: 10px;
}

.skill-logo {
  padding: 10px;
  width: 300px; /* Adjust the size as needed */
  height: 200px;
  object-fit:contain;
  margin-bottom: 10px;
}

.skill-keywords {
  font-size: 14px;
  color: #666;
}

  #projects {
    background-color: #fff;
    padding: 20px;
  }

  #contact {
    background-color: #fff;

}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    width: 45%;
    padding-right: 0px;
}

.contact-info h2 {
    color: #333;
    font-size: 24px;
}

.info-item {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.contact-form {
    width: 45%;
}

.contact-form h2 {
    color: #333;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.btn {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c82333;
}
.certification {
  display: flex;
  justify-content:flex-start;

  margin-bottom: 20px;
}

.certification-details {
  flex: 1;
}

.certificate-image {
  margin: 15px;
  border: 5px;
  border-color: #333;
  border-radius: 5px;
  flex: 1;

}

img {
  padding: 20px;
  width: 300px;
  height: 300px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  color: #555;
}

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
  }
  
  footer a:hover {
    color: #ccc;
  }
  
